.service {
    background: #202020;
}

.main__container {
    max-width: 1248px;
    margin: auto;
    padding: 100px 24px 20px;
}

.service__title,
.contacts__title,
.about__title,
.work__title {
    font-size: 40px;
    line-height: 102%;
    margin: 0px 0px 20px 0px;
    font-weight: 400;
}

.service__title {
    color: white;
}

.contacts__title,
.about__title,
.service__title>div,
.work__title {
    color: rgb(237, 202, 146);
}

.service__subtitle {
    font-weight: 400;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    line-height: 120%;
    margin: 0;
}

.service__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px 0px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.service__item {
    position: relative;
    width: 350px;
    border-radius: 10px;
    background-color: #fcfdff;
    box-shadow: 0px 35px 40px 10px rgba(0,0,0,1);
    padding: 28px 24px;
}

.service__item-title {
    position: absolute;
    width: 270px;
    height: 60px;
    color: #523f1f;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    background-image: linear-gradient(163deg, rgba(255,230,207,1) 0%, rgba(222,178,138,1) 59%, rgba(209,135,61,1) 100%);
    left: calc(50% - 135px);
    top: -60px;
}

.service__item-list,
.works__swiper-item_info>ul {
    margin: 20px 0;
    padding: 0;
}

.service__item-list>li,
.works__swiper-item_info>ul>li {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    margin-bottom: 5px;
    color: #2b2b2b;
    font-size: 16px;
    opacity: 0.8;
}

.works__swiper-item_info>ul>li {
    color: white;
    font-size: 18px;
}

.service__item-list>li::before,
.works__swiper-item_info>ul>li::before {
    content: "";
    display: block;
    min-width: 10px;
    min-height: 10px;
    border-radius: 100%;
    background-color: rgb(3, 255, 7)
}

.service__item-price {
    text-align: center;
    color: #2b2b2b;
    font-size: 24px;
    font-weight: 400;
}

.service__item-price>span {
    font-weight: 600;
}

.service__item_wa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    width: 255px;
    height: 55px;
    color: #523f1f;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-width: 1px;
    border-radius: 8px;
    background-image: linear-gradient(163deg, rgba(255,230,207,1) 0%, rgba(222,178,138,1) 64%, rgba(209,135,61,1) 100%);
    border-color: #d9a370;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 10px 30px 0px rgba(232,157,106,0.7);
    cursor: pointer;
}

.contacts {
    background: #434343;
}

.contacts__phone {
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    width: max-content;
    color: white
}

.contacts__phone::after {
    content: "";
    display: block;
    margin-top: 1px;
    width: 100%;
    height: 1px;
    background-color: rgb(237, 202, 146);
}

.contacts__socnetwork {
    display: flex;
    margin-top: 20px;
    gap: 15px;
    align-items: center;
}

.contacts__socnetwork>a {
    display: block;
    width: 40px;
    height: 40px;
}

.contacts__socnetwork>a>img {
    display: block;
    width: 100%;
    height: 100%;
}

.about {
    background: #434343;
}

.about__items {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.about__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
    background-color: #fcfdff;
    box-shadow: 0px 35px 40px 10px rgba(0,0,0,1);
    color: #2b2b2b;
    border-radius: 10px;
}

.about__item>div {
    width: 100px;
    height: 100px;
}

.about__item>h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.work {
    background: #202020;
}

.works__swiper {
    position: relative;
    width: 100%;
}

.works__swiper-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

@keyframes move {
    from {
        transform: scale(0.9);
        opacity: 0.2;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes next {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes prev {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.works__swiper-item {
    display: flex;
    min-width: 100%;
}

.works__swiper-item_info {
    padding: 24px;
    flex-grow: 1;
    color: white;
}

.works__swiper-item_info>h3 {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 26px;
    font-weight: 400;
}

.works__swiper-item_info>p {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 24px;
}

.works__swiper-item_info>p>span {
    font-size: 28px;
    font-weight: 600;
    color: rgb(237, 202, 146);
}

.works__swiper-item_data {
    display: flex;
    gap: 24px;
    margin-bottom: 15px;
}

.works__swiper-item_data>span {
    display: block;
    padding: 5px;
    background-color: rgb(237, 202, 146);
    box-shadow: 0px 35px 40px 10px rgba(0,0,0,1);
    font-size: 18px;
    color: black;
    font-weight: 400;
    line-height: 120%;
    font-weight: 600;
}

.works__swiper-item_img {
    position: relative;
    align-self: flex-start;
}

.works__swiper-item_img>button {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    text-align: center;
}

.works__swiper-item_img>img {
    display: block;
    height: 470px;
}

.works__swiper-prev,
.works__swiper-next {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    cursor: pointer;
    border-radius: 50%;
    transition: .3s
}

.works__swiper-prev:hover,
.works__swiper-next:hover {
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.5);
}

.works__swiper-prev {
    left: 20px;
}

.works__swiper-next {
    right: 20px;
}

.photos__swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.photos__swiper-close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 65px;
    height: 65px;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.close {
    display: none !important;
}

.photos__swiper-container {
    display: flex;
    width: 800px;
    max-width: 100%;
    overflow-x: hidden;
}

.photos__swiper-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100%;
}

.photos__swiper-item>span {
    position: absolute;
    padding: 5px;
    width: 100%;
    font-size: 18px;
    top: 50%;
    left: 0px;
    text-align: center;
    font-weight: 600;
    color: black
}

.photos__swiper-item>img {
    display: block;
    max-width: 100%;
    height: 600px;
    max-height: 90vh;
}

.photos__swiper-prev,
.photos__swiper-next {
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    cursor: pointer;
}

.photos__swiper-prev {
    left: calc(50% - 460px)
}

.photos__swiper-next {
    right: calc(50% - 460px)
}

@media only screen and (max-width: 1148px) {
    .service__items {
        justify-content: center;
        gap: 100px 20px
    }

    .works__swiper-item_img>img {
        height: 300px
    }
}

@media only screen and (max-width: 1024px) {
    .service__title,
    .about__title,
    .contacts__title
    .work__title {
        font-size: 28px;
    }

    .service__subtitle {
        font-style: 16px;
    }
}

@media only screen and (max-width: 946px) {
    .works__swiper-item {
        flex-direction: column;
        align-items: center;
    }

    .photos__swiper-item>img {
        height: auto;
    }

    .works__swiper-item_img {
        align-self: center;
    }

    .works__swiper-item_img>img {
        height: 470px
    }

    .photos__swiper-prev,
    .photos__swiper-next {
        width: 30px;
        height: 30px;
        top: calc(50% - 15px);
    }

    .photos__swiper-prev {
        left: 20px
    }
    
    .photos__swiper-next {
        right: 20px
    }
}

@media only screen and (max-width: 769px) {
    .service__container {
        padding: 40px 24px 20px;
    }

    .service__title,
    .about__title,
    .contacts__title,
    .work__title {
        font-size: 24px;
    }

    .about__item {
        width: 100%;
        gap: 10px
    }

    .works__swiper-item_info {
        padding: 24px 0;
    }

    .works__swiper-item_info>h3 {
        font-size: 20px;
    }

    .works__swiper-item_info>p {
        font-size: 18px;
    }

    .works__swiper-item_info>p>span {
        font-size: 20px;
    }

    .works__swiper-item_data {
        gap: 10px
    }

    .works__swiper-item_data>span {
        font-size: 16px;
        box-shadow: none;
    }

    .works__swiper-prev:hover,
    .works__swiper-next:hover {
        box-shadow: none;
    }

    .about__item>div {
        width: 80px;
        height: 80px;
    }

    .about__item>h3 {
        font-size: 16px;
    }

    .works__swiper-item_img>img {
        width: 100%;
        height: auto
    }

    .works__swiper-prev,
    .works__swiper-next {
        top: calc(100% - 24px)
    }

    .works__swiper-prev {
        left: calc(50% - 70px);
    }
    
    .works__swiper-next {
        right: calc(50% - 70px);
    }
}